################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/trafficsensor/v16
/.vs/trafficsensor/DesignTimeBuild
/Vision/.ipynb_checkpoints
/Vision/config/.ipynb_checkpoints
/Vision/config/yolov3.weights
/Vision/utils/__pycache__
/Vision/__pycache__
